@font-face {
   font-family: 'KyoboHandwriting2020A';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   background-color: black;
   color: white;
   margin: 0;
   padding: 0;
}

.search-box {
  margin-top: 20px; 
}

input[type="text"] {
   height: 18px; 
   width: 100px;
   padding: 10px 20px;
   border-radius: 15px; 
   border: none; 
   margin-right: 20px;

}

button[type="submit"] {
   height: 38.5px; 
   padding: 10px 20px;
   border-radius: 15px; 
   border: none; 
   border-width: 2px;
   position: absolute;
   top: 80%;
   left: 50%; /* 가운데 정렬을 위해 left 값을 50%로 설정합니다 */
   transform: translateX(-50%); /* 왼쪽으로 버튼의 절반 크기만큼 이동시켜 정확한 가운데 정렬을 수행합니다 */
}

button[type="start"] {
   height: 70px; /* 높이 증가 */
   padding: 10px 20px; 
   border-radius: 20px; 
   border: none; 
   border-width: 2px;
   position: absolute;
   top: 80%;
   left: 90%; /* 가운데 정렬을 위해 left 값을 50%로 설정합니다 */
   transform: translateX(-50%); /* 왼쪽으로 버튼의 절반 크기만큼 이동시켜 정확한 가운데 정렬을 수행합니다 */
}


h1{
   font-family: 'KyoboHandwriting2020A' ;
   font-size: 50px;
}

#search {
   font-family: 'KyoboHandwriting2020A'; 
   font-size: 14px; 
   text-align: center;
}

button[type="submit"] {
   font-family: 'KyoboHandwriting2020A';
   font-size: 12px;
   text-align: center; 
   transition: opacity 0.3s ease;
}

button[type="submit"]:hover {
   opacity: 0.8; /* 불투명도 조정 (0~1 사이의 값) */
}



button[type="start"] {
   font-family: 'KyoboHandwriting2020A';
   font-size: 20px;
   text-align: center; 
   transition: opacity 0.3s ease;
}

button[type="start"]:hover {
   opacity: 0.8; /* 불투명도 조정 (0~1 사이의 값) */
}


button:hover {
   cursor: pointer; /* 마우스 커서 변경 */
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
     transform: translateY(-20px);
   }
   
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 .search-box {
   margin-top: 20px;
   text-align: center;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #cornerImage {
   position: fixed; /* 고정 위치 */
   bottom: 0; /* 아래쪽에서부터 0px 떨어진 위치 */
   left: 0; /* 오른쪽에서부터 0px 떨어진 위치 */

   width: 20%;
   height: auto;

   
 }

 .container {
   display: flex;
   flex-direction: column; /* 자식 요소들을 세로 방향으로 배열 */
   justify-content: center; /* 세로 방향으로 중앙 정렬 */
   align-items: center; /* 가로 방향으로 중앙 정렬 */
   height: 100vh; /* viewport 높이 전체 */
}
 
 #ghostr-image {
   width: 70px; /* 원하는 너비로 변경 */
   height: auto; /* 높이는 자동으로 조정되어 원본 비율이 유지됩니다 */

   /* 이미지 위치 조정 */
   position: absolute;
   top: 50px; /* 위쪽으로부터의 거리 */
   left: 50px; /* 왼쪽으로부터의 거리 */
}

 #title_1 {
   opacity: 0;
   animation: fadeIn 2s ease-in-out forwards;
}

#title_2 {
   opacity: 0;
   animation: fadeIn 3.5s ease-in-out forwards;
}

#title_3 {
   opacity: 0;
   animation: fadeIn 4.5s ease-in-out forwards;
}

.not_center {
   align-self: flex-start;
   font-size: 120px; /* 원하는 글꼴 크기로 조정하세요. */
   text-align: left;
   margin-left: 50px; /* 왼쪽 여백 제거 */
   padding-left: 0; 
}

.not_center h1 {
   font-size: 110px; /* 원하는 글꼴 크기로 조정하세요. */
}


#top-right-image {
   position: fixed; /* 고정 위치 */
   top: 0; /* 위쪽으로부터 0px 떨어진 위치 */
   right: 0; /* 오른쪽으로부터 0px 떨어진 위치 */

   width: 500px; /* 원하는 너비로 변경 */
   height: auto; /* 높이는 자동으로 조정되어 원본 비율이 유지됩니다 */
}

#radar {
   width: 350px;
   height: 350px;
   border-radius: 50%; /* 이미지를 원형으로 만듭니다 */
}