@font-face {
   font-family: 'KyoboHandwriting2020A';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   background-color: black;
   color: white;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: 'KyoboHandwriting2020A' ;
   font-size: 50px;
}

.search-box {
  margin-top: 20px; 
}

input[type="text"] {
   height: 18px; 
   width: 100px;
   padding: 10px 20px;
   border-radius: 15px; 
   border: none; 

}

button[type="submit"] {
   height: 38.5px; 
   padding: 10px 20px;
   border-radius: 15px; 
   border: none; 
   border-width: 2px;
   position: absolute;
   top: 670px;
   left: 665px;
}


h1{
   font-family: 'KyoboHandwriting2020A' ;
   font-size: 50px;
}

#search {
   font-family: 'KyoboHandwriting2020A'; 
   font-size: 14px; 
   text-align: center;
}

button[type="submit"] {
   font-family: 'KyoboHandwriting2020A';
   font-size: 12px;
   text-align: center; 
   transition: opacity 0.3s ease;
}

button[type="submit"]:hover {
   opacity: 0.8; /* 불투명도 조정 (0~1 사이의 값) */
}

button:hover {
   cursor: pointer; /* 마우스 커서 변경 */
 }

.container {
   text-align: center;
 }
 
 .container h1 {
   opacity: 0;
   animation: fadeIn 2s ease-in-out forwards;
 }
 
 @keyframes fadeIn {
   from {
     opacity: 0;
     transform: translateY(-20px);
   }
   
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 .search-box {
   margin-top: 20px;
 }
